.table-div {
    max-width:75%;
    overflow-x:auto;
    border:2px solid black;
    font-family: arial, sans-serif;
    margin-left:auto; 
    margin-right:auto;

  }
  table {
    border-collapse:collapse;
   }
  
  td {
    border:1px solid lightgray;
  }

  .Table {
    background-color:transparent;
    min-width:100%;

  }
  
  .Table thead,
  .Table tbody {
    display:block;
  }
  
  .Table thead {
    
    border-bottom:1px solid black;
    text-align: right;
    
    
  }
  
  .Table thead > tr {
    width:calc(100% - 12px);
  }
  
  .Table tbody {
    max-height:500px;
    overflow-x:hidden;
    text-align: center;
    
   }
   
   .Table tr {
     display:flex;
     
   }
   
  .Table td, 
  .Table th {
    overflow:scroll;
    padding:3px 10px;
    width:100%;
    background-color:white;
  }
  #submitButton{
    width:1200px;
  }
  .pagination{
    list-style: none;
    margin-left:10%; 
    margin-right:auto; 
    width: 100%;
  }
  .pagination ul li{
    display: inline;
    
  }
  .pagination a{
    color: black;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .pagination a:hover {
    background-color: gray;
    border-radius: 5px;
  }
  .pagination input {
    width: 150px;
    height: 25px;
    margin-right:25%;
    margin-left:0px;
    border-color: Black;
  }