<div class="table-div">
  <table class="Table" >

    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
        <th>Entry Date</th>
        <th>Org Number</th>
        <th>Address 1</th>
        <th>City</th>
        <th>Zip</th>
        <th>Geo</th>
        <th>Pan</th>
        <th>Pin</th>
        <th>Fee</th>
        <th>Guid</th>
        <th>Exit Date</th>
        <th>First Date</th>
        <th>Recent Date</th>
        <th>Url</th>
      </tr>
    </thead>

      <tbody>
          <tr *ngFor="let data of pagedItems">
          <button id="submitButton" type="button" (click)="submit( id=data.id , status =data.status )" >Submit </button>
          <td>{{data.id}}</td>
          <td>{{data.status}}</td>
          <td>{{data.name}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.email}}</td>
          <td>{{data.company}}</td>
          <td>{{data.date_entry}}</td>
          <td>{{data.org_num}}</td>
          <td>{{data.address_1}}</td>
          <td>{{data.city}}</td>
          <td>{{data.zip}}</td>
          <td>{{data.geo}}</td>
          <td>{{data.pan}}</td>
          <td>{{data.pin}}</td>
          <td>{{data.fee}}</td>
          <td>{{data.guid}}</td>
          <td>{{data.date_exit}}</td>
          <td>{{data.date_first}}</td>
          <td>{{data.date_recent}}</td>
          <td>{{data.url}}</td>
        </tr>
      </tbody>
  </table>
</div>
<div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1, pager.pageSize)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page, pager.pageSize)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1, pager.pageSize)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages, pager.pageSize)">Last</a>
      </li>
      <li ><input id="batman" type=number (change)="fetchRowSelector($event)"  placeholder="Row Number Selector"></li>
  </ul>
</div>
