<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Capco Coding Challenge</h1>
    <h2>By: Cody Watson</h2>
    <div class="app-table"></div>
</div>

